* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
}


nav ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    color: black;

}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #53C351;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-content>h1 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
}

.hero-content>h2 {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.hero-content>p2 {
    display: flex;
    font-size: 15px;
    color: #000;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.hero-content-btn {
    display: flex;
    gap: 15px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;
}


.btn-primary {
    background-color: #53C351;
    color: white;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14;
    font-weight: 400;
}


.btn-secondary {
    color: #000;
    border: none;
    height: 35px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14;
    font-weight: 400;
}


.steps-image {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 30px;
}


.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.steps-content>h2 {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
}
.steps-content>p {
    font-size: 10px;
    font-weight: 400;
}

.mny {
    margin-right: -50px;
    padding: 0px 0px;
    width: 470px;
    height: 500px;

}

.money {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    gap: 0px;
    margin-bottom: -65px;
}

.money-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px;
    align-items: flex-start;
    justify-content: center;
    margin-right: 50px;
}

.money-content>h2 {
    font-size: 28px;
    font-weight: 700;
}

.money-content>p {
    font-size: 14px;
    font-weight: 400;
}

.btn2 {
    color: white;
    background-color: #254330;
    height: 35px;
    width: 120px;
    border-color: #53C351;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    font-size: 14px;
}

.btn3 {
    background-color: transparent;
    font-size: 14px;
    border-color: #53C351;
    font-weight:700;
    color: #53C351;
    height: 35px;
    width: 138px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.btn4 {
    background-color: transparent;
    border: none;
    color: #53C351;
    font-weight: 400;
}

.livestock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    gap: 0px;
    margin-bottom: -60px;
    margin-top: -100px;
}

.lvimg {
    margin-right: -50px;
    padding-bottom: 50px;
    width: 385px;
    height: 360px;
    margin-bottom: 20px;
}

.livestock-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px;
    align-items: flex-start;
    justify-content: center;
    margin-right: 50px;
}

.livestock-content>h2 {
    font-size: 28px;
    font-weight: 700;
}

.livestock-content>p {
    font-size: 14px;
    font-weight: 400;
}

.lvbtn {
    display: flex;
    gap: 15px;
}

.crop-img{
    margin-right: 50px;
    rotate: -3.99deg;
}

.bottom-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 8px;
    background-color: #1C3A27;
    color: white;
    border-radius: 50px;
    margin: 140px 200px;
    position: relative;

}
    
.bottom-hero-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 0px;
    margin-left: -60px;
}

.bottom-hero-content>h2 {
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
}
.bottom-hero-content>p {
    font-size: 14px;
    font-weight: 400;
}

.fm {
    height:395px;
    width:268px;
    margin:0px 0px;
    position: absolute;
    bottom: -0px;
    right: 40px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-top: -100px;
}